*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}
body{
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 1.6;
    color: #444;
    background-color:rgb(248, 248, 236);
}
.navbar{
    background-color: #1b313f;
    color: white;
    padding: 10px;
    text-align: right;

}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content:center ;
    gap: 15px;
}
.navbar li{
    margin-right: 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar img{
    width: 25px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.header{
background-image: linear-gradient(to bottom,rgb(163, 169, 173), rgb(108, 128, 143), rgb(61, 76, 87));
color: white;
padding: 60px;
text-align: center;
}
.parent {
    width: 80%;
    height: 400px;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
  }

  .slider {
    width: 400%;
    height: 100%;
    display: flex;
    animation: slide 16s infinite;
  }

  .slider img {
    width: 25%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-25%);
    }
    45% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    70% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-75%);
    }
    95% {
      transform: translateX(-75%);
    }
    100% {
      transform: translateX(0);
    }
  }
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}
.main>div{
    width: 45%;
    margin: 10px;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1,0,1,0.1;
    border: 1px solid rgb(224, 216, 216);
    border-radius: 10px;
    background-color: white;
}
#one{
    color: #23465e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    border-top: 1px solid #344953;
    margin-top: 20px;
}
@media only screen and(max-width:600px)
{
.main > div{
width:100%;
}
}


